<section class="hero">
   <div class="hero__container">
      <h1 class="hero__title title">
         Hello.<br>
         I’m Fullstack developer Lloyd Jefferson.
      </h1>

      <div class="hero__links">
         <ul class="hero__social social">
            <li class="social__item">
               <a href="" class="social__link">Ig</a>
            </li>
            <li class="social__item">
               <a href="" class="social__link">Fb</a>
            </li>
            <li class="social__item">
               <a href="" class="social__link">Yt</a>
            </li>
            <li class="social__item">
               <a href="" class="social__link">Gh</a>
            </li>
         </ul>

         <a href="mailto:lloydjefferson@gmail.com" class="hero__email mail-link">lloydjefferson@gmail.com</a>
      </div>
   </div>
</section>