.hero {
  background-image: url('../img/hero/bg-tablet.webp');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;

  @media only screen and (min-resolution: 192dpi) {
    background-image: url('../img/hero/bg-tablet@2x.webp');
  }

  // .hero__container

  &__container {
    min-height: 100vh;

    padding-top: 144px; // 32 +80 +32
    padding-bottom: 32px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 43px;
  }

  // .hero__title

  &__title {
    display: flex;
    align-items: center;

    flex-grow: 1;

    @media only screen and (min-width: 1440px) {
      max-width: 1085px;
    }
  }

  // .hero__links

  &__links {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;

    @media only screen and (min-width: 768px) {
      align-self: flex-end;
    }
  }

  // .hero__social

  &__social {
  }

  // .hero__email

  &__email {
  }
}

.title {
  font-size: 50px;
  letter-spacing: -0.03em;
  text-transform: uppercase;

  @media only screen and (min-width: 768px) {
    font-size: 90px;
  }

  // @media only screen and (min-width: 992px) {
  //   font-size: 70px;
  // }
  // @media only screen and (min-width: 1440px) {
  //   font-size: 90px;
  // }
}

.social {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;
  // .social__item

  &__item {
  }

  // .social__link

  &__link {
    font-size: 14px;
    color: currentColor;
    text-transform: uppercase;
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 50%;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 37px;
    height: 37px;

    &:hover {
      border: 1px solid $primary-color;
    }

    @media only screen and (min-width: 768px) {
      width: 55px;
      height: 55px;
    }
  }
}

.mail-link {
  font-size: 14px;
  color: currentColor;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}
