$bg-body: #1c1d20;
$bg-section-dark: #242527;
$bg-section-light: #fafafa;

$text-color-secondary: rgba(250, 250, 250, 0.6);
$text-color-dark: #1c1d20;

$accent-color: #ed3b44;
$accent-color-hover: #e03740e1;

//-------------------------------------------

$font-family: 'Inter Tight';
$primary-color: #fafafa;
